
<h1>Student list</h1>
<div class="container">
<div id="student">
    <table border="1">
        <tr>
            <td>Id</td>
            <td><input type="text" [(ngModel)]="sid"></td>
        </tr>
        <tr>
            <td>studentName</td>
            <td><input type="text" [(ngModel)]="sname"></td>
        </tr>
        <tr>
            <td>Std</td>
            <td><select [(ngModel)]="std">
                <option *ngFor="let item of stds">{{item}}</option>
                <!--<option>II</option>
                <option>III</option>-->
            </select></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" [(ngModel)]="age"></td>
        </tr>
        <tr colspan="2">
            <button (click)='Add()' class="btn btn-primary">Add</button>
            <button (click)='SetVal()' class="btn btn-info">{{val?'show':'hide'}}</button>
        </tr>
    </table>
</div>
<table class="table table-responsive">
    <tr>
        <th>Id</th>
        <th>studentName</th>
        <th *ngIf="val">Class</th>
        <th *ngIf="val">Age</th>
    </tr>
    <tr *ngFor="let item of list">
    <td>{{item.sid}}</td>
    <td>{{item.sname}}</td>
    <td *ngIf="val">{{item.std}}</td>
    <td *ngIf="val">{{item.age}}</td>
    </tr>
</table>
</div>
<!--<div id="student">
    <table border="1">
        <tr>
            <td>Id</td>
            <td><input type="text" [(ngModel)]="sid"></td>
        </tr>
        <tr>
            <td>studentName</td>
            <td><input type="text" [(ngModel)]="sname"></td>
        </tr>
        <tr>
            <td>Std</td>
            <td><select [(ngModel)]="std">
                <option *ngFor="let item of stds">{{item}}</option>
                
            </select></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" [(ngModel)]="age"></td>
        </tr>
        <tr colspan="2">
            <button (click)='Add()' class="btn">Add</button>
            <button (click)='SetVal()'>{{val?'show':'hide'}}</button>
        </tr>
    </table>
</div>
<table border="5">
    <tr>
        <th>Id</th>
        <th>studentName</th>
        <th *ngIf="val">Class</th>
        <th *ngIf="val">Age</th>
    </tr>
    <tr *ngFor="let item of list">
    <td>{{item.sid}}</td>
    <td>{{item.sname}}</td>
    <td *ngIf="val">{{item.std}}</td>
    <td *ngIf="val">{{item.age}}</td>
    </tr>
</table>-->