<p>employee works!</p>
<table>
    <thead>
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>firstName

        </td>
        <td>
         {{firstName}}
        </td>
    </tr>
    <tr>
        <td>lastName

        </td>
        <td>
         {{lastName}}
        </td>
    </tr>
    <tr>
        <td>Email

        </td>
        <td>
         {{Email}}
        </td>
    </tr>
    <tr>
        <td>Age

        </td>
        <td>
         {{Age}}
        </td>
    </tr>
    </tbody>
</table>
