<p>view1 works!</p>
<h1 [innerText]='item.Cname'></h1>
<table>
    <tr>
        <td>CName</td>
        <td><input type="text" [value]="item.Cname"></td>
    </tr>
    <tr>
        <td>city</td>
        <td><input type="text" [value]="item.City"></td>
    </tr>
    <tr>
        <td>address</td>
        <td><input type="text" [value]="item.Address"></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input type="text" [value]="item.Email"></td>
    </tr>
    <tr>
        <td>mobile</td>
        <td><input type="number" [value]="item.Mobile"></td>
    </tr>
</table>


